/**
* body
*/
body{
  padding-bottom: 100px;
}
/*
* メニューバー
*/
#menubar {
  background:#000;
  color:white;
  width:100%;
  height:40px;
  line-height: 37px;
  position: fixed;
  top:0;
  left:0;
  z-index: 100;
}

#menubar .left{
  position: absolute;
  left:.3em;
}
#menubar .center {
  position: absolute;
  left:30%;
  right:30%;
}
#menubar .right{
  position: absolute;
  right:.3em;
}

/**
* 問題ファイルを読み込むボックスに関するスタイル。
*/
#loader {
  color:black;
  font-size: 13px;
  line-height: 30px;
  background:#fff;
  text-align: center;
  transition: all 300ms 0s ease;
  margin-top:5px;
  height:30px;
}
#loader.active {
  border-color: #0a0;
  background: #cfc;
}

/* メニューバー内のボタン */
#menubar .button
{
  border:1px solid #aaa;
  text-decoration: none;
  color:black;
  padding:.3em;
  background:#eee;
  font-size: 11px;
  border-radius: 4px;
  cursor: pointer;
}
#menubar .button:hover{
  box-shadow: 0 0 3px 3px #ff0;
}

/* ファイルフォーム */
#file {
  font-size: 11px;
}

/* 全体を包むラッパー */
#wrapper {
  padding:1em;
  margin-top:40px;
}

/**
* タイトルのスタイル
*/
#title {
  font-size: 2em;
  margin-bottom: 10px;
  text-indent: .2em;
}

/**
* 概要文のスタイル
*/
#description {
  margin-bottom: 1em;
}

/**
* editorとiframeを含むコンテナーの設定
*/
.contaier{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 2em;
}
.contaier > div {
  width:49%;
}

/**
* editor関連のスタイル
*/
.editor {
  width:100%;
  height:400px;
}


/**
* iframe関連のスタイル
*/
.views {
  padding: .2em;
}

.views h2 {
  margin:0 0 0.5em 0;
  padding:0.2em;
}

iframe{
  width:100%;
  height:400px;
  margin-bottom: 1em;
  border:1px solid #ccc;
}

iframe:last-child{
  margin:0;
}


/**
* 解説関連のスタイル
*/
#reference h2 {
  padding:.2em;
  cursor: pointer;
  margin-bottom: 1em;
}

#reference > h2::after{
  content: "+";
  color:red;
}
#reference > h2.close::after{
  content: "-";
  color:red;
}

/**
* markdown共通のスタイル
*/
.markdown {
  border:1px solid #aaa;
  border-radius: 4px;
  padding:.3em;
  font-size:16px;
}

.markdown h1, .markdown h2 {
  font-weight: bold;
  font-size: 26px;
}

.markdown p, .markdown ul, .markdown ol {
  margin-bottom: 1em;
  line-height: 30px;
}

.markdown p:last-child{
  margin: 0;
}

.markdown ul{
  list-style:circle;
  margin-left:20px;
}

.markdown ol{
  list-style: decimal;
  margin-left: 20px;
}

.markdown strong {
  color:#C7243A;
  font-weight: bold;
}
.markdown em{
  color:#0086AB;
  font-weight: bold;
}
.markdown code{
  background:#000;
  color:#0f0;
}
.markdown pre {
  background:#000;
  color:#0f0;
}

.markdown table {
  border-top:1px solid #aaa;
  border-left:1px solid #aaa;
}
.markdown table tr td{
  border-bottom:1px solid #999;
  border-right: 1px solid #999;
}

/* Ace Editorがreadonlyの時のスタイル。*/
.ace_editor.readonly{
  background:#ddd;
}

/**
* 管理者用スタイル
*/

/* 初期で非表示にする。*/
.admin {
  display:none;
}

.admin label{
  display:block;
}

.admin input[type=text]{
  width:100%;
}
.admin textarea{
  width:100%;
  height: 200px;
  font-size: 12px;
}
